// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0e336b;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Custom
$white: #fff;
$LWpurple: rgb(77, 4, 196);
$LWred: #E60F05;