<%= render 'layouts/navbar' %>

<div class="container spacer-xl">
    <banner class="mb-5">
        <div class="banner-copy">
            <h1>Change your life.</h1>
            <h2><span data-controller="typed-js"></span></h2>
            <p class="py-4">Join our immersive courses in web development and data to transform your career and access new opportunities.</p>
            <div class="pb-5">
                <i class="fa-solid fa-rocket fa-xl"></i>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa-brands fa-rocketchat fa-xl"></i>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa-solid fa-crown fa-xl"></i>
            </div>
            <a href="#" id="btn-trigger" class="btn-main">Apply now!</a>
        </div>
        <%= image_tag "banner.jpg", alt: "Le Wagon", width: 400 %>
    </banner>

    <hr>

    <h3 class="mt-5">Our Mission</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit libero magni quas incidunt minus ratione neque commodi sunt deserunt reiciendis quam ab a, eveniet tempore obcaecati odio quos illo provident?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit libero magni quas incidunt minus ratione neque commodi sunt deserunt reiciendis quam ab a, eveniet tempore obcaecati odio quos illo provident?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit libero magni quas incidunt minus ratione neque commodi sunt deserunt reiciendis quam ab a, eveniet tempore obcaecati odio quos illo provident?</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam autem, ducimus quia neque nulla ut illum voluptatibus vero et error a praesentium placeat cupiditate, deserunt sed fugiat nam dicta laborum!</p>
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo at mollitia, eius nostrum facilis optio eaque veniam ut. Corporis quisquam expedita tempore optio. Minima, numquam! Quam deleniti distinctio nulla?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam autem, ducimus quia neque nulla ut illum voluptatibus vero et error a praesentium placeat cupiditate, deserunt sed fugiat nam dicta laborum!</p>
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo at mollitia, eius nostrum facilis optio eaque veniam ut. Corporis quisquam expedita tempore optio. Minima, numquam! Quam deleniti distinctio nulla?</p>
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo at mollitia, eius nostrum facilis optio eaque veniam ut. Corporis quisquam expedita tempore optio. Minima, numquam! Quam deleniti distinctio nulla?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam autem, ducimus quia neque nulla ut illum voluptatibus vero et error a praesentium placeat cupiditate, deserunt sed fugiat nam dicta laborum!</p>
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo at mollitia, eius nostrum facilis optio eaque veniam ut. Corporis quisquam expedita tempore optio. Minima, numquam! Quam deleniti distinctio nulla?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam autem, ducimus quia neque nulla ut illum voluptatibus vero et error a praesentium placeat cupiditate, deserunt sed fugiat nam dicta laborum!</p>
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo at mollitia, eius nostrum facilis optio eaque veniam ut. Corporis quisquam expedita tempore optio. Minima, numquam! Quam deleniti distinctio nulla?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam autem, ducimus quia neque nulla ut illum voluptatibus vero et error a praesentium placeat cupiditate, deserunt sed fugiat nam dicta laborum!</p>
</div>